<!DOCTYPE html>
<html>
  
  <head>
    <title>Trabalho PI 6</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <header>
      <h1>Form atoa</h1>
    </header>
    <section>
      <form action="/cadastro" method="post">
        <input type="number" name="valorUm" placeholder=">0">
        <br>
        <input type="number" name="valorDois" placeholder="<0">
        <br>
        <input type="number" name="valorTres" placeholder="==0">
        <br>
        <input type="number" name="valorQuatro" placeholder="!=0">
        <br><br>
         
        <button type="submit">Salvar</button>
      </form>
      
      
      <%= status %>
      
  </body>

</html>